*{
    
}

body{
    
    display: flex;
    background-color: #10f3ef;
    text-align: justify;
    text-align: unset;
    width: 1000;
    height: 1000px;
    align-items: center;
    height: 100vh; 
    flex-direction: column;
}

.PrimerContenedor{
    border-radius: 4%;
    width: 500px;
    height: 500px;
    background-color: rgb(20, 171, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    
    
}
.SegundoContenedor{
    border-radius: 4%;
    width: 200px;
    height: 200px;
    background-color: rgb(25, 47, 160);
    justify-content: center;
    align-items: center;
    text-align: center;
}
